<h1 class="text-3xl font-bold mb-4 flex items-center justify-center">成果物一覧</h1>
<div class="bg-white rounded-lg shadow-md p-6 max-w-2xl mx-auto">
    <div class="text-lg font-semibold mb-4 flex items-center justify-center">
        Ruby on Railsで作成したアプリ
    </div>
<ul>
    <li class="flex justify-between items-center mb-3">
        <span>
            給料計算機・占いアプリ
        </span>
        <div class="space-x-2">
            <a class="text-blue-500 hover:underline" href="https://railstutorial-calc-uranai.onrender.com" target="_blank">サイトへ</a>
            <a class="text-blue-500 hover:underline" href="https://github.com/OkemotoHiroki/RailsTutorial_Calc_Uranai" target="_blank">GitHub</a>
        </div>
    </li>
    <li class="flex justify-between items-center mb-3">
        <span>
            一言日記アプリ
        </span>
        <div class="space-x-2">
            <a class="text-blue-500 hover:underline" href="https://railstutorial-diary.onrender.com" target="_blank">サイトへ</a>
            <a class="text-blue-500 hover:underline" href="https://github.com/OkemotoHiroki/RailsTutorial_Diary" target="_blank">GitHub</a>
        </div>
    </li>
    <li class="flex justify-between items-center mb-3">
        <span>
            タスク管理アプリ
        </span>
        <div class="space-x-2">
            <a class="text-blue-500 hover:underline" href="https://railstutorial-taskmanager.onrender.com" target="_blank">サイトへ</a>
            <a class="text-blue-500 hover:underline" href="https://github.com/OkemotoHiroki/RailsTutorial_TaskManager" target="_blank">GitHub</a>
        </div>
    </li>
</ul>
</div>